<div class="cocktail-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?cocktail");>
  <div class="container">
    <h1>Add your sexy recipe</h1>
  </div>
</div>

<div class="container">
  <div class="form-box">
    <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
